.product{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: solid 4px #d4a373;
    padding: 8px;
    width: max-content;
}

.product p{
    text-align: center;
    color: #d4a373;
}

